# Python Basics and Data Types

## Sections
 
 - [Introduction](#Introduction) 
 - [Comments](#Comments) 
 - [Variables](#Variables) 
 - [Packaging](#Packaging) 
 - [Builtin Functions](#Builtin-Functions) 
 - [Methods](#Methods)
 - [Data Types](#Data-Types)
 - [Numbers](#Numbers) 
 - [Math Operations](#Math-Operations)
 - [Booleans](#Booleans)
 - [Logical Operations](#Logical-Operations)     
 - [None](#None)
 - [Strings](#Strings)
 - [Lists](#Lists)
 - [Dictionaries](#Dictionaries)
 - [Tuples](#Tuples)
 - [Sets](#Sets)

## Introduction

Python is an interpreted laguage. Cretated by Guido van Rossum in the 80Â´s. From the begining, the creator concived readibility and simplicity as fundamental parts of this programing language, adn that has helped on the popularity of it. Today is very popular in Web deveopmnet and data scientist. Popularity of Python can be seen on the [TIOBE Index](https://www.tiobe.com/tiobe-index/)

You can read a little more on the history of [Python on Wikipedia](https://en.wikipedia.org/wiki/Python_(programming_language)).

There are several ways to run python code: terminals, code editors, IDEs, Notebooks (Jupyter). I am not goint to cover installation or description of this methods, as this is intended to show only a reference to several options of the Python code (version 3).

Links to download Python:
- [Official site](https://www.python.org/)
- [Anaconda distribution](https://www.anaconda.com/)

Common Python editors and IDEs. Everyone is different, I sugest try the ones you are more attracted, all of them are great.
- [Visual Studio Code](https://code.visualstudio.com/)
- [PyCharm](https://www.jetbrains.com/pycharm/)
- [Noteepad++](https://notepad-plus-plus.org/)
- [Atom](https://atom.io/)
- [Sublime](https://www.sublimetext.com/)
- [Jupyter Notebook in Anaconda](https://www.anaconda.com/products/individual)

[Go back](#Sections)

## Comments

One of the first things in learning Python, is to write comments. There are very useful to add some words to explain the purpose of a line or block of code. You only need to type the hash character or `#` before the text. It can be in one line, or after a line of code.

In [4]:
# Comment in a single line
my_var = 123    # Comment also here
# other_var = "hola"   You can comment code for testing purposes

[Go back](#Sections)

## Variables

A variable is a name for a memory used to store an object. There are a few recomendations and considerations for writting variable names:
- PEP 8 recommends snake_case notation for variables.
- Can use letters, numbers and underscore.
- Using underscore at the begining ussually have a special meaning
- Variable names are case sensitive.
- Should not use python keyworkds (like print, type, bin, dir, etc.).

Python strictly does not support __constants__ like other languages. In order to define a contstant, you can define a variable with upper case letter, this is a conevtion among Python programers. for example:

```python
PI = 3.1416
```

There are several builtin variables known as dunders that have double underscore like: `__doc__`

In [2]:
# Creates the variable name my_iq, and assigs the value 190
my_iq = 190

In [3]:
my_iq

190

[Go back](#Sections)

## Packaging

The = signs is an assignemte operator, as we see it assigns a value to a variable name.
But sometimes we can assig several values to variables at once. this is called packagimnt, and several data types in Python support it.

In [38]:
# Simple assigment
my_var = 10
my_var

10

In [42]:
# using packaging examples
x,y,z = 1,2,3
a,b,c = "hola", "mundo", 10
d,e,f = (9,8,7)
one, two, three, *more = 1, 2 ,3, 4, 5, 6
var_1, var_2, var_3, *var_multi, var_last = (9,8,7,6,5,4,3,2,1)

In [46]:
print(" x =", x, "\n", "a =", a, "\n", "d =", d, "\n", "one =", one, "\n", "more =", more, "\n", "var_multi =", var_multi, "\n", "var_last =", var_last)

 x = 1
 a = hola
 d = 9
 one = 1
 more = [4, 5, 6]
 var_multi = [6, 5, 4, 3, 2]
 var_last = 1

[Go back](#Sections)

## Builtin Functions

Python comes with several builtin functions. And in other sections we will learn how to create our own functions, but first see a few built-in functions that will help us to undestand Python. Some common built-in functions:
- id()
- help()
- dir()
- type()
- print()
- input()

In [5]:
# The id function returns the addres of the variable in memory
id(my_iq)

140720025221424

In [32]:
# The help function can shows in the case of the variable that we just created the object type, and methods we could apply.
# Consider a method an action that we can perform to an object.
# help(my_iq)                     # Remove the # at the beggining of the line to see the result

In [14]:
# We can use help for many this, for example we can get help on the usage of the function print
# help(print)                     # Remove the # at the beggining of the line to see the result

In [15]:
# The dir funtion give us the list of attributes and methods associated to the object
# For example if we use dir to the variable created
# dir(my_iq)                                 # Remove the # at the begining of the line to see the result

In [16]:
# The type function will provide the type of object. 
# In somecases is very useful when we have a variable and we do not know what type of object 
# For example, for the variable crreated it indicates is an integer object.
type(my_iq)

int

In [22]:
# Jupyter Notebooks works as an interactive console, but in order to print the results on your screen when you run a program.
# Also Jupyer python shows the result of the last command, but if you want to see the results of other commands, you need print
print(my_iq)
my_iq                       # Try to find the difference in the first and last output

190

190

In [29]:
# The last function to see on this section is the input function. this function will help us to ask for input data
# one thing to consider, is that the object returened by this function is a string data.
my_input = input("Type something: ")
print("you typed", my_input)
print("The type of data from input funtion is delevered as:", type(my_input))
print("'str' means a string data type")

Type something: hola mundo
you typed hola mundo
The type of data from input funtion is delevered as: <class 'str'>
'str' means a string data type

[Go back](#Sections)

## Methods
In addition to functions, we have methods, they have a different format, and several obects have their own methods. there are positioned after the object with a dot character. There are functions like dir that can help us to see the methods of an object.
- `object.method()`

In [33]:
# For example, strings have the .upper() method. It chages to capital all letters on a string object.
my_input.upper()

'HOLA MUNDO'

I will use list comprensentions (later more about it) to show the available methods on each data type,
``` python
[each for each in dir(object) if "__" not in each]
```
For know, I can show the methods for our two availabe variables.

In [36]:
print("Methods for the data type: ", type(my_iq))
print([each for each in dir(my_iq) if "__" not in each])

Methods for the data type:  <class 'int'>
['bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [37]:
print("Methods for the data type: ", type(my_input))
print([each for each in dir(my_input) if "__" not in each])

Methods for the data type:  <class 'str'>
['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

[Go back](#Sections)

## Data Types

There are several data types in Python for different purposes.

- [Numbers](#Numbers)
    * [Integers](#Integers)
    * [Float](#Float)
    * [Complex](#Complex)
- [Booleans](#Booleans)
- [None](#None)
- strings
- lists
- tuples
- sets
- frozensets
- dictionaries (or dict)
- None

We can create our own data types (with classes) that we will see later.

There are also specialized data types, that comes with special packages or libraries. For example there is a well know library knows as Pandas that creates Data Frames to store large amount of data.

LetÂ´s start with the numeric Data Types

[Go back](#Sections)

## Numbers

In this section, we have three numeric data types:
- [Integers](#Integers) 
- [Floats](#Floats)
- [Complex](#Complex)

The last one is not very common for most of the programers, it is used for specific scientis calculations.

[Go back](#Sections)

## Integers

Basically an integer number does not have a decimal point, but they can be positive or negative.
The function associated with this data type is:
- int()

In [50]:
# Methods for this data type:
print([each for each in dir(int) if "__" not in each])

['bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [6]:
# The data types is expresed as int
my_int = 3
type(my_int)

int

In [60]:
my_neg_int = -3
type(my_neg_int)

int

In [66]:
# the 3 between "" is a string data type, we can convert this kind of strings to integers
my_var = "3"
print(my_var, type(my_var))
my_new_var = int(my_var)
print(my_new_var, type(my_new_var))

3 <class 'str'>
3 <class 'int'>

In [67]:
# We can also cobvert a float number to interger
my_float = 3.3
print(my_float, type(my_float))
my_new_int = int(my_float)
print(my_new_int, type(my_new_int))

3.3 <class 'float'>
3 <class 'int'>

[Go back](#Sections)

## Floats

And basically a float is a number with decimal point. It can also have positive or negative numbers. The function associated with this data type is:
- float()

In [70]:
# Methods for this data type:
print([each for each in dir(float) if "__" not in each])

['as_integer_ratio', 'conjugate', 'fromhex', 'hex', 'imag', 'is_integer', 'real']

In [7]:
# The data types is expresed as float
my_float = 3.3
type(my_float)

float

In [72]:
my_neg_float = 3.3
type(my_neg_float)

float

Float numbers are represented internally in binary, because is the machine code, and some errors can happen if we do not consider this behavior.

In [30]:
# For example, this basic operation:
a = 0.1 + 0.1 + 0.1
print(a)
b = 0.3
print(b)
print(a == b)

0.30000000000000004
0.3
False

In [34]:
# There is an isclose function that can help us evaluate if the float values are approximately close
from math import isclose
a = 0.0000001
# We can see the binary approximation of a to the float number with the format function
print(format(a, ".25f"))
b = 0.0000002
# We can see the binary approximation of b to the float number with the format function
print(format(b, ".25f"))
# a and b are close
# For small numbers we look for absolute tolerance
print(a==b)
print(isclose(a,b, rel_tol=0.001, abs_tol=0.001))

0.0000000999999999999999955
0.0000001999999999999999909
False
True
False
True

In [35]:
from math import isclose
x = 999999.01
# We can see the binary approximation of x to the float number with the format function
print(format(x, ".25f"))
y = 999999.02
# We can see the binary approximation of y to the float number with the format function
print(format(y, ".25f"))
# x and y are close
# For big numbers we look for relative tolerance
print(x==y)
print(isclose(x,y, rel_tol=0.001, abs_tol=0.001))

999999.0100000000093132257461548
999999.0200000000186264514923096
False
True

[Go back](#Sections)

## Complex

they are uses commonly in Electrical Engineering. A complex number has a real number and an imaginary number. the function associated to this number is:
- complex()

In [73]:
my_complex = complex(3,2)
print(type(my_complex))
print(my_complex)

<class 'complex'>
(3+2j)

In [75]:
my_new_complex = 5-9j
print(type(my_new_complex))
print(my_new_complex)

<class 'complex'>
(5-9j)

[Go back](#Sections)

## Math Operations
There are multiple types of operators in Python to perform different operations.

- [Math Operators](#Math-Operators)
- [Assignment Operators](#Assignment-Operators)
- [Builtin Math Funtions](#Builtin-Math-Funtions)
- [Bin, Oct and Hex](#Bin,-Oct-and-Hex)

[Go back](#Sections)

## Math Operators

Math operators representation in Python is:

Operator|Description
----|----
 `+`| Addition
 `-`| Substraction 
 `/`| Divisison
`//`| Integer division
 `*`| Multiplication
`**`| Power of
 `%`| Modulus operator
 
When you conbine several operators, there is a precedance rule, but is better to use parenthesis to provider better readibility to your program.

- `()`
- `**`
- `*`, `/`
- `+`, `-`

In [81]:
# Addition
3 + 2.1

5.1

In [82]:
# Multiplication
3 * 4

12

In [83]:
# Division
6/3

2.0

In [85]:
# Power of
2 ** 3

8

In [87]:
# Integer division
3 // 2

1

In [88]:
# Modulus operator (remaining)
3 // 2

1

[Go back](#Sections)

## Assignment Operators

In Python there are some assignment operators that can save us time and a few lines of code.

Operator|Description
----|----
 `=`| Simple assignment
`-=`| Decrement assignment 
`*=`| Multiplication assignment
`/=`| Division assignment
`**=`| Power assignment
`%=`| Modulus assignement
`//=`| integer division assignement

In [92]:
# Instead of writing 
my_var = 3
my_var = my_var + 2
print(my_var)

5

In [93]:
# We can write
my_var = 3
my_var += 2
print(my_var)

5

In [94]:
# Now with Multiplication
my_var = 3
my_var *= 2
print(my_var)

6

In [96]:
# Or with Substraction
my_var = 3
my_var -= 2
print(my_var)

1

[Go back](#Sections)

## Builtin Math Funtions

Some built-in math funtions included in Python.
- sum()
- round()
- abs()
- pow()
- max()
- min()
- divmod()

There is also a math library with plenty of math funtions. We will explore how to load libraries and use this one in other section.

In [12]:
sum([1,2,3])

6

In [15]:
round(10/3, 3)

3.333

In [99]:
abs(-5)

5

In [103]:
pow(2,3)

8

In [16]:
max([1,2,3])

3

In [17]:
min([1,2,3])

1

In [11]:
divmod(11,2)

(5, 1)

[Go back](#Sections)

## Bin, Oct and Hex

In some specific scenarios Bin, Oct, and Hex numbers are required. 

There are some funtion to convert a decimal number into these numbers, but consider that the output will be a string data type.

Anyway Python understand this string interpretation and you can convert back to decimal.

In [121]:
my_val = 123
my_val = bin(my_val)
print(type(my_val))
print("Binary:", my_val)

<class 'str'>
Binary: 0b1111011

In [122]:
# We can convert back to decimal:"
my_val = int(my_val, 2)
print("Decimal:", my_val)

Decimal: 123

In [123]:
my_val = 123
my_val = oct(my_val)
print(type(my_val))
print("Octal:", my_val)

<class 'str'>
Octal: 0o173

In [124]:
# We can convert back to decimal:"
my_val = int(my_val, 8)
print("Decimal:", my_val)

Decimal: 123

In [126]:
my_val = 123
my_val = hex(my_val)
print(type(my_val))
print("Hexadecimal:", my_val)

<class 'str'>
Hexadecimal: 0x7b

In [127]:
# We can convert back to decimal:"
my_val = int(my_val, 16)
print("Decimal:", my_val)

Decimal: 123

[Go back](#Sections)

## Booleans

Booleans are useful to control the flow of a program among other uses.
With booleans we have only two options:
- True
- False

In Python these two words have to start with capital letter.

In [128]:
my_bool = True
print(type(my_bool))

<class 'bool'>

Objects have a boolean value, this property is know as __truly__ and __falsey__. You have to consider this if you are using logical operations in your programs. A rule could a value of 0 or empty is ussually `False`, and anything differents is `True`.

In [38]:
# Examples for False
print(bool(0))
print(bool(0.0))
print(bool(""))
print(bool([]))

False
False
False
False

In [39]:
# Examples of True
print(bool(5))
print(bool(3.3))
print(bool("helow"))
print(bool([1,2,3]))

True
True
True
True

[Go back](#Sections)

## Logical Operations

- [Boolean Operators](#Boolean-Operators)
- [Comparison Operators](#Comparison-Operators)
- [Identity Operators](#Identity-Operators)
- [Membership Operators](#Membership-Operators)

[Go back](#Sections)

## Boolean Operators
Some of the most common booleans operators are:
- and
- or
- not

In [19]:
print("***and operator***")
print("True and True:", True and True)
print("True and False:", True and False)
print("False and False:", False and False)

***and operator***
True and True: True
True and False: False
False and False: False

In [20]:
print("***or operator***")
print("True or True:", True or True)
print("True or False:", True or False)
print("False or False:", False or False)

***or operator***
True or True: True
True or False: True
False or False: False

In [21]:
print("***not operator***")
print("not True:", not True)
print("not False:", not False)

***not operator***
not True: False
not False: True

[Go back](#Sections)

## Comparison Operators

Also we have the comparison operators, the result of this operation is a boolean value.

Operator | Meaning
----|----
`==`  | Equal to
 `<`  | Less than
 `>`  | Greater than
`!=`  | Not equal to
`>=`  | Less than or equal to
`>=`  | Greater than or equal to

In [138]:
# Equal operator 
print(1 == 1)
print(1 == 2)

True
False

In [140]:
# Less than operator 
print(1 < 2)
print(1 < 1)

True
False

In [141]:
# Greater than operator 
print(2 > 1)
print(1 > 2)

True
False

In [142]:
# Not equal operator 
print(2 != 1)
print(2 != 2)

True
False

[Go back](#Sections)

## Identity Operators

i help us to verify if the value are in the same memory addres, even the variable name is different.

- `is`
- `is not`

In [24]:
my_var1 = [1,2,3]
my_var2 = [1,2,3]
print(id(my_var1))
print(id(my_var2))
my_var1 is my_var2

2112419017160
2112419019080

False

In [25]:
# But
my_var1 == my_var2

True

In [28]:
my_var1 = [1,2,3]
my_var2 = my_var1
print(id(my_var1))
print(id(my_var2))
my_var1 is my_var2

2112418323080
2112418323080

True

In [29]:
# But if you want to cpy the values in a different variable

my_var1 = [1,2,3]
my_var2 = my_var1.copy()
print(id(my_var1))
print(id(my_var2))
my_var1 is my_var2

2112419027848
2112419019848

False

[Go back](#Sections)

## Membership Operators

- `in`
- `not in`

[Go back](#Sections)

## None

The None Data Type reprsents the absence of value.

In [36]:
my_var = None
type(my_var)

NoneType

[Go back](#Sections)

## Strings

In Pytthon 3a string is a sequence of UNICODE characteres.

A string has the following characteristics:
- ordered sequence
- immutability (cannot be changed)

Some properties:
- [String Conversion](#String-Conversion)
- [Escape Sequences](#Escape-Sequences)
- [Formating Strings](#Formating-Strings)
- [String Indexing](#String-Indexing)
- [String Slicing](#String-Slicing)
- [String Concatenation](#String-Concatenation)
- [String Multiplication](#String-Multiplication)
- [String Inmmutability](#String-Inmmutability)
- [Useful String Funtions](#Useful-String-Funtions)
- [String Methods](#String-Methods)

In [3]:
# A string can be delimited by sigle quotes
my_string = 'Hello World!'
my_string

'Hello World!'

In [1]:
# Also can be delimited by double quotes
my_string = "Good bye!"
my_string

'Good bye!'

In [2]:
# The string object types is represented as 'str'
type(my_string)

str

In [5]:
username = "Superme"
password = "Supersecret"

In [8]:
# Multiline strings can be written with triple quotes
# Also triple quotes are used for multiline comments and docstrings (in a function)
long_string = """
This is a long string,
I loved Python,
What about you?
"""
long_string

'\nThis is a long string,\nI loved Python,\nWhat about you?\n'

In [9]:
print(long_string)

This is a long string,
I loved Python,
What about you?

### String Conversion
Funtion str()

In [5]:
my_var = str(100)
print(my_var)
type(my_var)

100

str

In [6]:
my_var = str(100.3)
print(my_var)
type(my_var)

100.3

str

In [8]:
# We can convert back a String to integer numbers 
int("3")

3

In [11]:
# but if the string has ., we have to conert first to float, an then to integer
int(float("3.3"))

3

### Escape Sequences

Escape sequences use slash character to show special characteres
- `\n`: new line
- `\t`: tab space
- `\\`: prints \
- `\"`: prints \\"

In [4]:
# LetÂ´s see the new line
print("Hello\nWorld")

Hello
World

In [5]:
# LetÂ´s see the tab space
print("Hello\tWorld")

Hello	World

In [7]:
# LetÂ´s print \
print("Hello \\*World*\\")

Hello \*World*\

### Formating Strings

The most common expression to format strings are:
- F"Strings
- .Format method

But before, we will show hos we ca format without ussing these expressions.

In [26]:
# We can use only concatenation, but consider that it might be required conversion to string objects
name = "Jose"
age = 49
gender = "Male"
print("Hi " + name + ".\n" + "You are " + str(age) + " old.")

Hi Jose.
You are 49 old.

In [2]:
# We can also use commas, and no conversion is requiered
name = "Jose"
age = 49
gender = "Male"
print(" Hi", name, "\n", "You are", age, "old")

 Hi Jose
 You are 49 old

#### F" Strings

Usually contain replacemnet fields delimited by a pair of {}.

There is no need to convert to string.

In [4]:
name = "Jose"
age = 49
gender = "Male"
print(f"Hi {name}.\nYou are {age} old.")

 Hi Jose.
You are 49 old.

In [36]:
# We can perform operations inside the {}, and also we can convert objects
a = 2
b = 3
f"a is: {a:.2f} and b is {b:.2f} and a times b is {a*b}"

'a is: 2.00 and b is 3.00 and a times b is 6'

#### .Format Method

There is no need to covert to string.

In [27]:
name = "Jose"
age = 49
print("Hi {}.\nYou are {} old.".format(name, age))

Hi Jose.
You are 49 old.

In [32]:
# We can format float numbers
"The value is {:.2f}".format(3.333333)

'The value is 3.33'

### String Indexing

A string is an ordered sequence of characters. Ordered Data types allows indexing.
It means you can refere to any element by its index.

In [17]:
# To refer an index we use the characters [index]
my_string = "Good morning"
print("Index 0:", my_string[0])
print("Index 1:", my_string[1])
print("Index 2:", my_string[2])
print("")
# We can use indexes in reverse order
print("Index -1:", my_string[-1])
print("Index -2:", my_string[-2])
print("Index -3:", my_string[-3])

Index 0: G
Index 1: o
Index 2: o

Index -1: g
Index -2: n
Index -3: i

### String Slicing

[start:stop:stepover]

In [25]:
my_string = "Good morning world!"
print(my_string[0:4])
print(my_string[:4])
print(my_string[-6:-1])
print(my_string[-6:])
print(my_string[::2])
print(my_string[::-1])
print(my_string[::-2])

Good
Good
world
world!
Go onn ol!
!dlrow gninrom dooG
!lo nno oG

### String Inmmutability

Strings are inmutable in Python

In [24]:
# We cannot change a string, if we do, we get an error
try:
    my_string = "Good morning"
    my_string[0] = "X"
except TypeError as err:
    print(err)

'str' object does not support item assignment

In [23]:
# But we can cretae a new string
my_string = "Good morning"
my_new_string = "X" + my_string[1:]
my_new_string

'Xood morning'

### String Concatenation

In [19]:
"Hello" + " " + "World" + "!"

'Hello World!'

### String Multiplication

In [18]:
"Hello " * 3

'Hello Hello Hello '

### Useful String Funtions

- len()

In [2]:
len("Helloooooowwww")

14

### String Methods

Methods are actions you can perform on objects. Each object dependeing on the type has defined methods. For strings some of the methods available are:
- .upper()
- .lower()
- .strip()
- .split()
- "char".join(list_var)          # this method takes a list an returns a string
- .replace()
- .capitalaize()

Consider that some methods change the original value, and others return a new value with the changes based on the action. As strings are inmmutable, the string value is not changed, but a new value is returned.

In [39]:
# dir funtion that allows us to see methods for an object is:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [41]:
# we can see help on that method using
help(str.upper)

Help on method_descriptor:

upper(self, /)
    Return a copy of the string converted to uppercase.

In [6]:
"holiu amigiu".upper()

'HOLIU AMIGIU'

In [8]:
"Hola Juan".replace("Hola", "Hello").replace("Juan", "John")

'Hello John'

### In and not in

Memebership operators can be used with strings

In [42]:
"Python" in "I love Python"

True

[Go back](#Sections)

## Lists

List is a collation of items. these items can be any type.

A list has the following characteristics:
- ordered sequence (support indexing)
- indexing starts from 0
- mutability (can be changed)
- lists are iterable objects
- it is called array in other languages.
- a list uses the characteres `[ , ]`.

Something to consider in lists is that the = operator does not copies a list, it only makes the variable names point to the same memory location.

In [1]:
# we cahn create a list with
my_list1 = []
my_list1

[]

In [2]:
# we cahn create a list with
my_list2 = list()
my_list2

[]

In [3]:
# We can convert other objects to lists
var = "hola"
my_list = list(var)
my_list

['h', 'o', 'l', 'a']

In [29]:
my_list = ["one", "two", "three", "four", "five"]
other_list = [1, 2, 3, False, "other", 1.3, [7, "child", 5.5]]
multiline_list = [
    "a",
    "b",
    "c"
]

### List indexing

In [23]:
my_list[1]

'two'

In [24]:
other_list[6][1]

'child'

### List slicing

In [25]:
my_list[1:3]

['two', 'three']

### List mutability

In [27]:
other_list[3] = True
other_list

[1, 2, 3, True, 'other', 1.3, [7, 'child', 5.5]]

### List Concatenation

In [13]:
list_1 = [1,2,3]
print(id(list_1))
list_2 = ["a", "b", "c"]
list_1 = list_1 + list_2
print(list_1)
print(id(list_1))

2891061684680
[1, 2, 3, 'a', 'b', 'c']
2891061115912

In [14]:
list_1 = [1,2,3]
print(id(list_1))
list_2 = ["a", "b", "c"]
list_1 += list_2
print(list_1)
print(id(list_1))

2891061683848
[1, 2, 3, 'a', 'b', 'c']
2891061683848

### List Multiplication

In [6]:
["a", "b", "c"] * 3

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

### List funtions
- len()
- sorted() returns a new list with elements sortedin acending order

In [28]:
len(other_list)

7

In [15]:
list_1 = [1,2,3,4]
list_1[0:2] = ["a", "b", "c", "d"]
list_1

['a', 'b', 'c', 'd', 3, 4]

### List methods

Methods are functiones attached to the objets of types lists.
With the dir function we can see all methods. The methods starting with double underscore are magic methods.


// checho to have examples with
- extend()
- append()
- insert()
- copy()
- clear()
- pop()
- index()
- count()
- sort() sorts the list in place
- max()
- min()
- sum()

In [34]:
# Using a list comprensension we can see the methos in a list object
[each for each in dir(list) if "__" not in each]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [12]:
help(list.insert)

Help on method_descriptor:

insert(self, index, object, /)
    Insert object before index.

In [14]:
my_list = [0,1,2,4,5]
my_list.insert(3,3)
my_list

[0, 1, 2, 3, 4, 5]

In [15]:
help(list.extend)

Help on method_descriptor:

extend(self, iterable, /)
    Extend list by appending elements from the iterable.

In [16]:
my_list = [0,1,2,3]
my_list.extend([4,5])
my_list

[0, 1, 2, 3, 4, 5]

In [18]:
my_list = [0,1,2,3,4,5]
my_list.pop()
my_list

[0, 1, 2, 3, 4]

In [19]:
my_list = [0,1,2,3,4,5]
my_list.remove(3)
my_list

[0, 1, 2, 4, 5]

In [1]:
# Method .sort vs funtion sorted()

In [9]:
my_list = ["a", "x", "b", "c", "d", "e", "d"]
my_list.sort()       # sortes in the same variable
my_list

['a', 'b', 'c', 'd', 'd', 'e', 'x']

In [10]:
my_list.reverse()     # reverse in the same variable
my_list

['x', 'e', 'd', 'd', 'c', 'b', 'a']

In [13]:
print(my_list[::-1])
my_list

['a', 'b', 'c', 'd', 'd', 'e', 'x']

['x', 'e', 'd', 'd', 'c', 'b', 'a']

In [16]:
print(sorted(my_list))         # reurns the list sorteed, but does not change the variable
my_list

['a', 'b', 'c', 'd', 'd', 'e', 'x']

['x', 'e', 'd', 'd', 'c', 'b', 'a']

In [17]:
# copy vs [:]

In [19]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### String to Lists and List to String

Split is a method that returns a new list

- split()

Join is a method that converts a list to string
- join()

In [2]:
# .split
languages = "Python, C++, Java, Javascript"
languages.split()

['Python,', 'C++,', 'Java,', 'Javascript']

In [3]:
# .join

" ".join(["hello", "my", "name", "is", "John"])

'hello my name is John'

In [25]:
# list unpacking
a, b, c = [1,2,3]
print(a)
print(b)
print(c)

1
2
3

In [27]:
a, b, c, *more, d = [1, 2, 3, 4, 5, 6, 7]
print(a)
print(b)
print(c)
print(more)
print(d)

1
2
3
[4, 5, 6]
7

In [27]:
# The in operator
1 in [1, 2, 3]

True

### List Comprehension

In [5]:
[2*num for num in range(10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [6]:
[2*num for num in range(10) if num % 3 == 0]

[0, 6, 12, 18]

[Go back](#Sections)

## Dictionaries

A dictionary is a collection ok `key: value` pairs separated by commas and enclosed in curly braces `{}`.

Keys need to be hashable or immutable objects (string, number, bool value, tuple, etc) and unique, values can by any object.

Additional properties:
- ussually dictionaries are know to store unordered collection of items, but the latest Python versions keep an order (3.6 and later).
- dictionaties are mutable objects.

Dictonaries are known as hash, map, table in order languages.

In [3]:
my_dict = {}
print(f"A dictionary has type: {type(my_dict)}")
print(f"An empty dictionary is seen as: {my_dict}")

A dictionary has type: <class 'dict'>
An empty dictionary is seen as: {}

In [4]:
my_dict = dict()
print(f"An empty dictionary is seen as: {my_dict}")

An empty dictionary is seen as: {}

In [11]:
my_dict = {
    "a": 1,
    "b": 2,
    "c": 3
}

In [12]:
my_dict

{'a': 1, 'b': 2, 'c': 3}

In [13]:
my_dict["d"] = 4
my_dict

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [14]:
my_dict["a"]

1

In [16]:
my_dict["a"] = 9

In [18]:
my_dict

{'a': 9, 'b': 2, 'c': 3, 'd': 4}

### Dictionary functions

- type
- len
- dict

In [10]:
len(my_dict)

3

### Dict methods

In [20]:
# Using a list comprensension we can see the methods in a dict object
print([method for method in dir(dict) if "__" not in method])

['clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [7]:
my_dict.keys()

dict_keys(['a', 'b', 'c'])

In [8]:
my_dict.values()

dict_values([1, 2, 3])

In [9]:
my_dict.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [23]:
# If we specify a key that does not exist, we get an error
my_dict["z"]

KeyError: 'z'

In [24]:
# it is better to use the get method, if the key does not exist, we get None or a default value
print(my_dict.get("z"))

None

In [25]:
# This is an example of how to specify a default value if the key does no exist
my_dict.get("z", 99)

99

In [25]:
# Memmbership operators work with keys
"a" in my_dict

True

In [24]:
9 in my_dict

False

In [34]:
my_keys = my_dict.keys()
print(type(my_keys))
print(my_keys)
print(list(my_keys))

<class 'dict_keys'>
dict_keys(['a', 'b', 'c', 'd'])
['a', 'b', 'c', 'd']

In [35]:
my_values = my_dict.values()
print(type(my_values))
print(my_values)
print(list(my_values))

<class 'dict_values'>
dict_values([9, 8, 3, 4])
[9, 8, 3, 4]

In [36]:
my_items = my_dict.items()
print(type(my_items))
print(my_items)
print(list(my_items))

<class 'dict_items'>
dict_items([('a', 9), ('b', 8), ('c', 3), ('d', 4)])
[('a', 9), ('b', 8), ('c', 3), ('d', 4)]

In [32]:
my_dict["b"] = 8
print(my_dict)
print(my_values)

{'a': 9, 'b': 8, 'c': 3, 'd': 4}
dict_values([9, 8, 3, 4])

### Dictionary Comprehension

In [3]:
my_dict = {"a": 1, "b": 2, "c": 3}
new_dict = {k.upper(): v*2 for k, v in my_dict.items()}
print(new_dict)

{'A': 2, 'B': 4, 'C': 6}

[Go back](#Sections)

## Tuples

A tuple is very similar to a list, it is a colection of items of any type.

A tuple has the following characteristics:
- ordered sequence (support indexing)
- indexing starts from 0
- immutability (can not be changed)
- tuples are iterable objects
- a list uses the characteres `( , )`.
- tuples are faster and mo efficient than lists.
- tuples are very efficient when they contain inmmutable objects (numbers, strings, other tuples)
- they use less memory than a list
- tuples can be used as keys in dictionaries

In [20]:
my_tuple = tuple(range(10_000_000))
my_list = list(range(10_000_000))
import sys
help(sys.getsizeof)
print(sys.getsizeof(my_tuple))
print(sys.getsizeof(my_list))

Help on built-in function getsizeof in module sys:

getsizeof(...)
    getsizeof(object, default) -> int

    Return the size of object in bytes.

80000048
90000112

In [7]:
# Empty truple
my_tuple1 = ()
type(my_tuple1)

tuple

In [8]:
# Empty truple
my_tuple2 = tuple()
type(my_tuple2)

tuple

In [14]:
# A tuple with a single element requieres a comma
my_tuple3 = ("one")
print(type(my_tuple3))
print(my_tuple3)
my_tuple3 = ("one",)
print(type(my_tuple3))
print(my_tuple3)

<class 'str'>
one
<class 'tuple'>
('one',)

In [29]:
my_tuple = (1,2,3,4,5)

In [30]:
type(my_tuple)

tuple

In [31]:
5 in my_tuple

True

In [32]:
# We can slice a tuple similar to lists
my_tuple[:2]

(1, 2)

In [33]:
# Tuple unpacking
a,b,c, *more, d = (1,2,3,4,5,6,7)
print(a)
print(b)
print(c)
print(more)
print(d)

1
2
3
[4, 5, 6]
7

### Tuple Functions

- min()
- max()
- len()
- sorted()
- zip() *

In [15]:
years = [2017, 2018, 2019, 2020]
revenue = [30, 33, 40, 50]
print(type(zip(years, revenue)))
print(zip(years, revenue))
print(list(zip(years, revenue)))
print(dict(zip(years, revenue)))

<class 'zip'>
<zip object at 0x000001546EBE7848>
[(2017, 30), (2018, 33), (2019, 40), (2020, 50)]
{2017: 30, 2018: 33, 2019: 40, 2020: 50}

### Tuple methods

In [36]:
# Using a list comprensension we can see the methods in a tuple object
[each for each in dir(tuple) if "__" not in each]

['count', 'index']

[Go back](#Sections)

## Sets

A set is a collection of items.

A set has the following characteristics:
- contains unique elements (no duplicates)
- unordered sequence (does not support indexing)
- mutability (can be changed)
- a set uses curly braces `{ , }`.
- a set is an iterable object.
- a set can have multiple elements, but they have to be inmmutable objects (for example a list is not allowed)

There is also a frozenset data objects that is immutable.

In [21]:
my_set = set()
type(my_set)

{1, 2, 3}

In [22]:
# A set cannot be created with empty curly braces
my_set = {}
type(my_set)

dict

In [ ]:
my_set = {1,2,3}
my_set

In [50]:
my_list = [1,2,3,1,2,3,1,2,3,4,5]
my_set = set(my_list)
my_set

{1, 2, 3, 4, 5}

In [23]:
my_set = {1,"a",(4,"b")}
print(my_set)

{1, (4, 'b'), 'a'}

In [25]:
# This will cause an error
try:
    my_set = {1,"a",[4,"b"]}
except TypeError as err:
    print(err)

unhashable type: 'list'

In [27]:
my_list = [1,2,3,4,5,1,2,3]
my_set = set(my_list)
my_set

{1, 2, 3, 4, 5}

In [29]:
my_set = {1,"a",(4,"b")}
for item in my_set:
    print(item)

1
(4, 'b')
a

In [51]:
len(my_set)

5

### Set methods

In [30]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

###  Set methods
- 'add'
- 'clear'
- 'copy'
- 'difference' or '-' 
- 'difference_update'
- 'discard'
- 'intersection' or '&'
- 'intersection_update'
- 'isdisjoint'
- 'issubset'
- 'issuperset'
- 'pop'
- 'remove'
- 'symmetric_difference' or '^'
- 'symmetric_difference_update'
- 'union' or '|'
- 'update'

Sets also support <, <=, > and >= operators for contaiment testing.

In [34]:
set1 = {1,3,5}
set2 = {9,5,7}
set3 = {6,7}
set4 = {6,7,8}
print(set3 <= set4)
print(set1 > set3)

True
False

In [31]:
help(set.union)

Help on method_descriptor:

union(...)
    Return the union of sets as a new set.

    (i.e. all elements that are in either set.)

In [61]:
my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8,9,10}

In [62]:
my_set.difference(your_set)

{1, 2, 3}

In [63]:
my_set.difference_update(your_set)
my_set

{1, 2, 3}

In [64]:
my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8,9,10}
my_set.intersection(your_set)

{4, 5}

In [68]:
my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8,9,10}
my_set & your_set

{4, 5}

In [65]:
my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8,9,10}
my_set.isdisjoint(your_set)

False

In [66]:
my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8,9,10}
my_set.union(your_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [67]:
my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8,9,10}
my_set | your_set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [69]:
my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8,9,10}
my_set.issuperset(your_set)

False

In [70]:
my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8,9,10}
my_set.issubset(your_set)

False

### Set Comprehension

In [2]:
# Very similar to list
names = {"tom", "jerry", "john", "ann"}
new_names = {n.upper() for n in names}
print(new_names)

{'TOM', 'JOHN', 'ANN', 'JERRY'}

[Go back](#Sections)

### Frozensets

They have the same behavior than sets, with the charateritc that they are immutable.

In [35]:
my_frozen = frozenset()
type(my_frozen)

frozenset

In [36]:
my_frozen = frozenset([1,2,3,3,4,5])
type(my_frozen)

frozenset

In [37]:
my_frozen = frozenset({1,2,3,3,4,5})
type(my_frozen)

frozenset

[Go back](#Sections)