# Python Basics and Data Types

## Sections
 
 - [Introduction](#Introduction) 
 - [Data Types](#Data-Types)
     * [Numbers](#Numbers)
     * [Booleans](#Booleans)
     * [Strings](#Strings)
     * [Lists](#Lists)
     * [Dictionaries](#Dictionaries)
     * [Tuples](#Dictionaries)
     * [Sets](#Sets)

## Introduction

Python is an interpreted laguage. Cretated by Guido van Rossum in the 80Â´s. From the begining, the creator concived readibility and simplicity as fundamental parts of this programing language, adn that has helped on the popularity of it. Today is very popular in Web deveopmnet and data scientist.

You can read a little more on the history of [Python on Wikipedia](https://en.wikipedia.org/wiki/Python_(programming_language)).

There are several ways to run python code: terminals, code editors, IDEs, Notebooks (Jupyter). I am not goint to cover installation or description of this methods, as this is intended to show only a reference to several options of the Python code (version 3).

Links to download Python:
- [Official site](https://www.python.org/)
- [Anaconda distribution](https://www.anaconda.com/)

Common Python editors and IDEs. Everyone is different, I sugest try the ones you are more attracted, all of them are great.
- [Visual Studio Code](https://code.visualstudio.com/)
- [PyCharm](https://www.jetbrains.com/pycharm/)
- [Noteepad++](https://notepad-plus-plus.org/)
- [Atom](https://atom.io/)
- [Sublime](https://www.sublimetext.com/)
- Jupyter Notebook (included in the Python Anaconda distribution)

### Comments

One of the first things in learning Python, is to write comments. There are very useful to add some words to explain the purpose of a line or block of code. You only neet to type a # before the text. It can be in one line, or after a line of code.

In [18]:
# comment in a single line
my_var = 123    # comment also here

### Variables

Variables store information. There are a few recomendations and considerations to write variable names:
- Use snake_case notation.
- Start with lowercase or underscore (underscore are used to write private variable).
- Can use letters, numbers and underscore.
- variable names are case sensitive.
- Do not use python keyworkds (like print, type, bin, dir, etc.).

You can define constants, that are variables but when you define them, they are meant to remain as constant values. For that use capital letters.

Another type of variable known as dunder has double underscore like: __doc__

In [4]:
# Creates the variable name my_iq, and assigs the value 190
my_iq = 190

In [5]:
my_iq

190

### Packaging

The = signs is an assignemte operator, as we see it assigns a value to a variable name.
But sometimes we can assig several values to variables at once. this is called packagimnt, and several data types in Python support it.

In [38]:
# Simple assigment
my_var = 10
my_var

10

In [42]:
# using packaging examples
x,y,z = 1,2,3
a,b,c = "hola", "mundo", 10
d,e,f = (9,8,7)
one, two, three, *more = 1, 2 ,3, 4, 5, 6
var_1, var_2, var_3, *var_multi, var_last = (9,8,7,6,5,4,3,2,1)

In [46]:
print(" x =", x, "\n", "a =", a, "\n", "d =", d, "\n", "one =", one, "\n", "more =", more, "\n", "var_multi =", var_multi, "\n", "var_last =", var_last)

 x = 1
 a = hola
 d = 9
 one = 1
 more = [4, 5, 6]
 var_multi = [6, 5, 4, 3, 2]
 var_last = 1

### Funtions

In Python, is very important to consider that everything is an object, a varable is an object. Python comes with several buil-in functions, they are also objects. And in other sections we will learn how to create our own functions, but first see a few built-in functions that will help us to undestand Python. Some common built-in functions:
- help()
- dir()
- type()
- print()
- input()

In [32]:
# The help function can shows in the case of the variable that we just created the object type, and methods we could apply.
# Consider a method an action that we can perform to an object.
# help(my_iq)                     # Remove the # at the beggining of the line to see the result

In [14]:
# We can use help for many this, for example we can get help on the usage of the function print
# help(print)                     # Remove the # at the beggining of the line to see the result

In [15]:
# The dir funtion give us the list of attributes and methods associated to the object
# For example if we use dir to the variable created
# dir(my_iq)                                 # Remove the # at the begining of the line to see the result

In [16]:
# The type function will provide the type of object. 
# In somecases is very useful when we have a variable and we do not know what type of object 
# For example, for the variable crreated it indicates is an integer object.
type(my_iq)

int

In [22]:
# Jupyter Notebooks works as an interactive console, but in order to print the results on your screen when you run a program.
# Also Jupyer python shows the result of the last command, but if you want to see the results of other commands, you need print
print(my_iq)
my_iq                       # Try to find the difference in the first and last output

190

190

In [29]:
# The last function to see on this section is the input function. this function will help us to ask for input data
# one thing to consider, is that the object returened by this function is a string data.
my_input = input("Type something: ")
print("you typed", my_input)
print("The type of data from input funtion is delevered as:", type(my_input))
print("'str' means a string data type")

Type something: hola mundo
you typed hola mundo
The type of data from input funtion is delevered as: <class 'str'>
'str' means a string data type

### Methods

In addition to functions, we have methods, they have a different format, and several obects have their own methods. there are positioned after the object with a dot character. There are functions like dir that can help us to see the methods of an object.
- object.method()

In [33]:
# For example, strings have the .upper() method. It chages to capital all letters on a string object.
my_input.upper()

'HOLA MUNDO'

I will use list comprensentions (later more about it) to show the available methods on each data type,
``` python
[each for each in dir(object) if "__" not in each]
```
For know, I can show the methods for our two availabe variables.

In [36]:
print("Methods for the data type: ", type(my_iq))
print([each for each in dir(my_iq) if "__" not in each])

Methods for the data type:  <class 'int'>
['bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [37]:
print("Methods for the data type: ", type(my_input))
print([each for each in dir(my_input) if "__" not in each])

Methods for the data type:  <class 'str'>
['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

[Go back](#Sections)

## Data Types

There are several data types in Python for different purposes.

- int
- float
- complex
- bool
- str
- list
- tuple
- set
- dict
- None

We can create our own data types (with classes) that we will see later.

There are also specialized data types, that comes with special packages or libraries. For example there is a well know library knows as Pandas that creates Data Frames to store large amount of data.

LetÂ´s start with the numeric Data Types

### Numbers

In this section, we have three numeric data types:
- [Integers or int](#Integers) 
- [Floating point or float](#Float)
- [Complex](#Complex)

The last one is not very common for most of the programers, it is used for specific scientis calculations.

### Integers

Basically an integer number does not have a decimal point, but they can be positive or negative.
The function associated with this data type is:
- int()

In [50]:
# Methods for this data type:
print([each for each in dir(int) if "__" not in each])

['bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [58]:
my_int = 3
type(my_int)

int

In [60]:
my_neg_int = -3
type(my_neg_int)

int

In [66]:
# the 3 between "" is a string data type, we can convert this kind of strings to integers
my_var = "3"
print(my_var, type(my_var))
my_new_var = int(my_var)
print(my_new_var, type(my_new_var))

3 <class 'str'>
3 <class 'int'>

In [67]:
# We can also cobvert a float number to interger
my_float = 3.3
print(my_float, type(my_float))
my_new_int = int(my_float)
print(my_new_int, type(my_new_int))

3.3 <class 'float'>
3 <class 'int'>

### Float

And basically a float is a number with decimal point. It can also have positive or negative numbers. The function associated with this data type is:
- float()

In [70]:
# Methods for this data type:
print([each for each in dir(float) if "__" not in each])

['as_integer_ratio', 'conjugate', 'fromhex', 'hex', 'imag', 'is_integer', 'real']

In [71]:
my_float = 3.3
type(my_float)

float

In [72]:
my_neg_float = 3.3
type(my_neg_float)

float

### Complex

A complex number has a real number and an imaginary number. the function associated to this number is:
- complex()

In [73]:
my_complex = complex(3,2)
print(type(my_complex))
print(my_complex)

<class 'complex'>
(3+2j)

In [75]:
my_new_complex = 5-9j
print(type(my_new_complex))
print(my_new_complex)

<class 'complex'>
(5-9j)

### Math Operators

Math operators representation in python:

Operator|Description
----|----
 +  | Addition
 -  | Substraction 
 *  | Multiplication
 \/ | Divisison
 ** | Power of
 // | Integer division
 %  | Modulus operator
 
When you conbine several operators, there is a precedance rule, but is better to use parenthesis to provider better readibility to your program.

- ()
- **
- *, /
- +, -

In [81]:
# Addition
3 + 2.1

5.1

In [82]:
# Multiplication
3 * 4

12

In [83]:
# Division
6/3

2.0

In [85]:
# Power of
2 ** 3

8

In [87]:
# Integer division
3 // 2

1

In [88]:
# Modulus operator (remaining)
3 // 2

1

### Augmented assigment operator

In Python there is a notation that can save a few words on the code with the augmented assigment operator.

In [92]:
# Instead of writing 
my_var = 3
my_var = my_var + 2
print(my_var)

5

In [93]:
# We can write
my_var = 3
my_var += 2
print(my_var)

5

In [94]:
# Now with Multiplication
my_var = 3
my_var *= 2
print(my_var)

6

In [96]:
# Or with Substraction
my_var = 3
my_var -= 2
print(my_var)

1

### Special Math funtions

Some built-in math functions included in Python.

- round()
- abs()
- pow()

There is also a math library with plenty of math funtions. We will explore how to load libraries and use this one in other section.

In [98]:
round(3.3)

3

In [99]:
abs(-5)

5

In [103]:
pow(2,3)

8

### Bin, Oct and Hex

In some specific scenarios Bin, Oct, and Hex numbers are required.
There are some funtion to convert a decimal number into these numbers, but consier that the output will be a string data type.
Anyway python understand this string interpretation and you can convert back to decimal.

In [121]:
my_val = 123
my_val = bin(my_val)
print(type(my_val))
print("Binary:", my_val)

<class 'str'>
Binary: 0b1111011

In [122]:
# We can convert back to decimal:"
my_val = int(my_val, 2)
print("Decimal:", my_val)

Decimal: 123

In [123]:
my_val = 123
my_val = oct(my_val)
print(type(my_val))
print("Octal:", my_val)

<class 'str'>
Octal: 0o173

In [124]:
# We can convert back to decimal:"
my_val = int(my_val, 8)
print("Decimal:", my_val)

Decimal: 123

In [126]:
my_val = 123
my_val = hex(my_val)
print(type(my_val))
print("Hexadecimal:", my_val)

<class 'str'>
Hexadecimal: 0x7b

In [127]:
# We can convert back to decimal:"
my_val = int(my_val, 16)
print("Decimal:", my_val)

Decimal: 123

### Booleans

Booleans are useful to control the flow of a program among other uses.
With booleans we have only two options:
- True
- False

In Python these two words have to start with capital letter.

In [128]:
my_bool = True
print(type(my_bool))

<class 'bool'>

### Truthy and Falsey
Objects have a booleand value

In [144]:
print(bool(5))
print(bool(0))
print(bool("helow"))
print(bool(""))

True
False
True
False

### Boolean Operators

Some of the most common booleans operators are:
- and
- or
- not

In [134]:
print("***AND Operator***")
print("True and True:", True and True)
print("True and False:", True and False)
print("False and False:", False and False)

***AND Operator***
True and True: True
True and False: False
False and False: False

In [136]:
print("***OR Operator***")
print("True or True:", True or True)
print("True or False:", True or False)
print("False or False:", False or False)

***OR Operator***
True or True: True
True or False: True
False or False: False

In [135]:
print("***NOT Operator***")
print("not True:", not True)
print("not False:", not False)

***NOT Operator***
not True: False
not False: True

### Logical (or comparison) operators

Also we have the comparison operators, the result of this operation is a boolean value.

Operator | Meaning
----|----
==  | Equal to
 <  | Less than
 >  | Greater than
!=  | Not equal to
>=  | Less than or equal to
>=  | Greater than or equal to

In [138]:
# Equal operator 
print(1 == 1)
print(1 == 2)

True
False

In [140]:
# Less than operator 
print(1 < 2)
print(1 < 1)

True
False

In [141]:
# Greater than operator 
print(2 > 1)
print(1 > 2)

True
False

In [142]:
# Not equal operator 
print(2 != 1)
print(2 != 2)

True
False

### Strings

In [3]:
my_string = 'Hello World!'
my_string

'Hello World!'

In [2]:
my_string = "Good bye!"
my_string

'Good bye!'

In [4]:
type(my_string)

str

In [5]:
username = "Superme"
password = "Supersecret"

In [8]:
long_string = """
This is a long string,
I loved Python,
What about you?
"""
long_string

'\nThis is a long string,\nI loved Python,\nWhat about you?\n'

In [9]:
print(long_string)

This is a long string,
I loved Python,
What about you?

### String Concatenation
String concatenation only work with strings

In [2]:
"Ana " + "loves " + "me"

'Ana loves me'

### String conversion
Funtion str()

In [5]:
my_var = str(100)
print(my_var)
type(my_var)

100

str

In [6]:
my_var = str(100.3)
print(my_var)
type(my_var)

100.3

str

### Escape sequences

Escape sequences use slash character to show special characteres
- \n
- \t
- \ \

### Formating strings

In [9]:
name = "Jose"
age = 49
gender = "Male"
print("Hi " + name + ".\n" + "You are " + str(age) + " old.")

Hi Jose.
You are 49 old.

In [2]:
name = "Jose"
age = 49
gender = "Male"
print(" Hi", name, "\n", "You are", age, "old")

 Hi Jose
 You are 49 old

#### f" strings

In [4]:
name = "Jose"
age = 49
gender = "Male"
print(f"Hi {name}.\nYou are {age} old.")

 Hi Jose.
You are 49 old.

#### .format strings

In [6]:
name = "Jose"
age = 49
gender = "Male"
print("Hi {}.\nYou are {} old.".format(name, age))

Hi Jose.
You are 49 old.

### String indexing

In [9]:
my_string = "Good morning world!"
print(my_string[0])
print(my_string[1])
print(my_string[2])
print(my_string[3])
print(my_string[4])
print(my_string[-1])
print(my_string[-2])
print(my_string[-3])

G
o
o
d

!
d
l

### String slicing
[start:stop:stepover]

In [16]:
my_string = "Good morning world!"
print(my_string[0:4])
print(my_string[:4])
print(my_string[-6:-1])
print(my_string[-6:])
print(my_string[::2])
print(my_string[::-1])

Good
Good
world
world!
Go onn ol!
!dlrow gninrom dooG

#### String inmmutability
Strings are inmutable in Python

In [17]:
my_string = "Good morning world!"
my_string[0] = "X"

TypeError: 'str' object does not support item assignment

### Additional useful funtions for strings
- len()

In [2]:
len("Helloooooowwww")

14

### Useful methods for strings
- .upper()
- .capitalaize()
- .replace()

One funtion that allows us to see methos for an object is:

- dir(object)

In [6]:
"holiu amigiu".upper()

'HOLIU AMIGIU'

In [8]:
"Hola Juan".replace("Hola", "Hello").replace("Juan", "John")

'Hello John'

### Lists
List is a container of data, these data can be any type and any object.

Keeps data in an ordered way (this allows indexin)

List are mutable

Something to consider in lists is that the = operator does not copies a list, it only makes the var names point to the sam e memory location.

It is called array in other languages.

In [29]:
my_list = ["one", "two", "three", "four", "five"]
other_list = [1, 2, 3, False, "other", 1.3, [7, "child", 5.5]]
multiline_list = [
    "a",
    "b",
    "c"
]

### List indexing

In [23]:
my_list[1]

'two'

In [24]:
other_list[6][1]

'child'

### List slicing

In [25]:
my_list[1:3]

['two', 'three']

### List mutability

In [27]:
other_list[3] = True
other_list

[1, 2, 3, True, 'other', 1.3, [7, 'child', 5.5]]

### List funtions
- len()
- sorted()

In [28]:
len(other_list)

7

### List methods

In [28]:
# Using a list comprensension we can see the methods in a dict object
[each for each in dir(dict) if "__" not in each]

['clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [34]:
# Using a list comprensension we can see the methos in a list object
[each for each in dir(list) if "__" not in each]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [12]:
help(list.insert)

Help on method_descriptor:

insert(self, index, object, /)
    Insert object before index.

In [14]:
my_list = [0,1,2,4,5]
my_list.insert(3,3)
my_list

[0, 1, 2, 3, 4, 5]

In [15]:
help(list.extend)

Help on method_descriptor:

extend(self, iterable, /)
    Extend list by appending elements from the iterable.

In [16]:
my_list = [0,1,2,3]
my_list.extend([4,5])
my_list

[0, 1, 2, 3, 4, 5]

In [18]:
my_list = [0,1,2,3,4,5]
my_list.pop()
my_list

[0, 1, 2, 3, 4]

In [19]:
my_list = [0,1,2,3,4,5]
my_list.remove(3)
my_list

[0, 1, 2, 4, 5]

In [1]:
# Method .sort vs funtion sorted()

In [9]:
my_list = ["a", "x", "b", "c", "d", "e", "d"]
my_list.sort()       # sortes in the same variable
my_list

['a', 'b', 'c', 'd', 'd', 'e', 'x']

In [10]:
my_list.reverse()     # reverse in the same variable
my_list

['x', 'e', 'd', 'd', 'c', 'b', 'a']

In [13]:
print(my_list[::-1])
my_list

['a', 'b', 'c', 'd', 'd', 'e', 'x']

['x', 'e', 'd', 'd', 'c', 'b', 'a']

In [16]:
print(sorted(my_list))         # reurns the list sorteed, but does not change the variable
my_list

['a', 'b', 'c', 'd', 'd', 'e', 'x']

['x', 'e', 'd', 'd', 'c', 'b', 'a']

In [17]:
# copy vs [:]

In [19]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
# .join

new_var = " * ".join(["hello", "my", "name", "is", "John"])
print(type(new_var))
new_var

<class 'str'>

'hello * my * name * is * John'

In [25]:
# list unpacking
a, b, c = [1,2,3]
print(a)
print(b)
print(c)

1
2
3

In [27]:
a, b, c, *more, d = [1, 2, 3, 4, 5, 6, 7]
print(a)
print(b)
print(c)
print(more)
print(d)

1
2
3
[4, 5, 6]
7

In [27]:
# The in operator
1 in [1, 2, 3]

True

### Dictionary
A dictionary does not have an order, lists does.

A dcitionary is a container of key, value elements.

A key has to be an inmutable object (string, number, bool value, tuple, etc)

Hash, map, table in order languages.

In [1]:
my_dict = {
    "a": 1,
    "b": 2,
    "c": 3
}

In [2]:
type(my_dict)

dict

In [3]:
my_dict

{'a': 1, 'b': 2, 'c': 3}

In [6]:
my_dict["a"]

1

In [11]:
my_list = [my_dict, 2, 3, 4, 5]

In [13]:
my_list

[{'a': 1, 'b': 2, 'c': 3}, 2, 3, 4, 5]

### Dictionary functions

- type
- len
- dict

In [10]:
len(my_dict)

3

### Dict methods

In [35]:
# Using a list comprensension we can see the methods in a dict object
[each for each in dir(dict) if "__" not in each]

['clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [7]:
my_dict.keys()

dict_keys(['a', 'b', 'c'])

In [8]:
my_dict.values()

dict_values([1, 2, 3])

In [9]:
my_dict.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [23]:
my_dict["z"]

KeyError: 'z'

In [24]:
print(my_dict.get("z"))

None

In [25]:
my_dict.get("z", 99)

99

In [26]:
"a" in my_dict

True

## Tuple

Tuple is like a list, but inmmutable

A tuple uses brackets ()

They have benefits over lists if you do not need to change it.

Use less memory, and there are uses qhere you wnat a list that does not change. for example, days of a week, or months in a year.

In [29]:
my_tuple = (1,2,3,4,5)

In [30]:
type(my_tuple)

tuple

In [31]:
5 in my_tuple

True

In [32]:
# We can slice a tuple similar to lists
my_tuple[:2]

(1, 2)

In [33]:
# Tuple unpacking
a,b,c, *more, d = (1,2,3,4,5,6,7)
print(a)
print(b)
print(c)
print(more)
print(d)

1
2
3
[4, 5, 6]
7

### Tuple methods

In [36]:
# Using a list comprensension we can see the methods in a tuple object
[each for each in dir(tuple) if "__" not in each]

['count', 'index']

## Set

A set is an unordered collection of unique elements.
AS is an unodered collection, it does not support indexing.

In [45]:
my_set = {1,2,3,4,5,1,2,3}
my_set

{1, 2, 3, 4, 5}

In [49]:
my_set = set()
type(my_set)

set

In [50]:
my_list = [1,2,3,1,2,3,1,2,3,4,5]
my_set = set(my_list)
my_set

{1, 2, 3, 4, 5}

In [51]:
len(my_set)

5

### Set methods

In [37]:
# Using a list comprensension we can see the methods in a tuple object
[each for each in dir(set) if "__" not in each]

['add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

###  Set methods
- .difference
- .difference_update
- .intersection
- .isdisjoint
- .issubset
- .issuperset
- .symmetric_difference
- .symmetric_difference_update
- .union

In [61]:
my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8,9,10}

In [62]:
my_set.difference(your_set)

{1, 2, 3}

In [63]:
my_set.difference_update(your_set)
my_set

{1, 2, 3}

In [64]:
my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8,9,10}
my_set.intersection(your_set)

{4, 5}

In [68]:
my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8,9,10}
my_set & your_set

{4, 5}

In [65]:
my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8,9,10}
my_set.isdisjoint(your_set)

False

In [66]:
my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8,9,10}
my_set.union(your_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [67]:
my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8,9,10}
my_set | your_set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [69]:
my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8,9,10}
my_set.issuperset(your_set)

False

In [70]:
my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8,9,10}
my_set.issubset(your_set)

False